@font-face {
    font-family: helvetica;
    src: url("../fonts/helvetica.ttf");
}
@font-face {
    font-family: vijaya;
    src: url("../fonts/vijaya.ttf");
}

.sectionServicos {
    min-height: 450px;
    padding-bottom: 40px;
}
.bannercarousel1 {
    background-image: url("../content/background.jpg");
    min-height: 450px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.bannercarousel2 {
    background-image: url("../content/banner.jpg");
    min-height: 450px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.bannercarousel3 {
    background-image: url("../content/bannerlaw.jpg");
    min-height: 450px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
body {
    background-image: url("../content/bannerlaw2.png");
    min-height: 450px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    max-width: 100%;
}
.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
    margin-left:15px;
}
.navbar {
    margin-bottom: 0px;
}

.affix + .container {
    position: relative;
    top: 50px;
}
.divLogo{
    padding: 27px;
}

.active>a {
    border-bottom: 2px solid #666666;
}

.nav > li {
    width:140px;
    font-size: 18pt;
    font-family: vijaya, helvetica, Arial, sans-serif;
}
.divTopHeader{
    background-color: #3c3c3c;
    width: 100%;
    top:0px;
    height:40px;
}
.spanTopLeft{
    color:#f7f7f7;
    font-size: 14pt;
    float:left;
    margin-top: 6px;
    margin-left: 50px;
    font-family: helvetica, Arial, sans-serif;
    font-weight: bold;
}
.spanTopRightGlyph{
    color:#f7f7f7;
    font-size: 14pt;
    float:right;
    margin-top: 10px;
    margin-right: 15px;
}
.google-maps {
    position: relative;
    padding-bottom: 30%; // This is the aspect ratio
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
.sectionForm{
    background-image: url("../content/fundoformulario.jpg");
    min-height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 20px;
}
.sectionFormTitulo{
    font-family: vijaya, helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    padding: 20px;
    font-size: 30pt;
}
.labelForm{
    font-family:  helvetica, Arial, sans-serif;
    color: #ffffff;
}

.associado1 {
    background-image: url("../content/equipesantostoledo.png");
    min-height: 450px;
    background-repeat: no-repeat;
    background-position: center;
}
.associado2 {
    background-image: url("../content/associado1.png");
    min-height: 450px;
    background-repeat: no-repeat;
    background-position: center;
}
.imgservicos{
    height: 36px ;
    float: left;
    margin-top: 5px;
}
.imgservicosw{
    width: 36px ;
    float: left;
    margin-top: 4px;
}
.tituloservicos{
    font-family: vijaya, helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #f9f9f9;
    padding: 20px;
    border: 5px;
    font-size: 28pt;
}
.labelservicos{
    font-family:  vijaya,helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #666666;
    margin-left: 50px;
    margin-top: 14px;
    font-size: 18pt;

}
.shadow {
    box-shadow: 0px 10px 15px #888888;
}
.row{
margin-right: 0px;
}
.panelservicos{
    min-height: 250px;
}
.fundobranco{
    background-color: #ffffff;
}
.labelSobreTitulo{
    font-family:  vijaya,helvetica, Arial, sans-serif;
    color: #666666;
    margin-n-top: 14px;
    font-size: 48pt;
}
.textoSobre{
    font-family:  helvetica, Arial, sans-serif;
    color: #999999;
    font-style: italic;
    font-size: 15pt;
}
.marginTopBottom{
    margin-top:40px;
    margin-bottom: 20px;
}
.paddings{
    padding-top:40px;
    padding-bottom:60px;
    min-height: 450px;
}

.labelAssociadoTitulo{
    font-family:  vijaya,helvetica, Arial, sans-serif;
    color: #333333;
    margin-top: 14px;
    font-size: 25pt;
}
.textoAssociado{
    font-family:  helvetica, Arial, sans-serif;
    color: #666666;
    font-style: italic;
    font-size: 15pt;
}

.carousel-indicators li
{
    border: 1px solid #666666;
}
.carousel-indicators .active
{
   background-color:  #666666;
}

.divFooter{
    background-color: #3c3c3c;
    width: 100%;
    bottom:0px;
    min-height:60px;
    padding:30px;
    color: #999999;
    font-family: helvetica, Arial, sans-serif;
}
.menuFooter li{
    display:inline-block;
    margin-left:15px;
}
.menuFooter li a{
    color: #999999;
}
.fundocinza{
    background-color: #e6e6e6;
}