@font-face {
    font-family: helvetica;
    src: url("../fonts/helvetica.ttf");
}
@font-face {
    font-family: vijaya;
    src: url("../fonts/vijaya.ttf");
}

.sectionServicos {
    min-height: 450px;
    padding-bottom: 40px;
}
body {
    background-image: url("../content/banner.jpg");
    min-height: 450px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    max-width: 100%;
}
.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
    margin-left:15px;
}
.navbar {
    margin-bottom: 0px;
}

.affix + .container {
    position: relative;
    top: 50px;
}
.divLogo{
    padding: 27px;
}

.active>a {
    border-bottom: 2px solid #003366;
}

.nav > li {
    width:140px;
    color:#26196b;
    font-size: 13pt;
    font-family:  helvetica, Arial, sans-serif;
}
.nav > li > a{
    color:#26196b;
}

.divTopHeader{
    background-color: #003366;
    top:0px;
}
.paddingHeader{
    padding-top: 20px;
    padding-bottom: 20px;
}
.spanTopLeft{
    color:#f7f7f7;
    font-size: 14pt;
    float:left;
    margin-top: 6px;
    margin-left: 50px;
    font-family: helvetica, Arial, sans-serif;
    font-weight: bold;
}
.spanTopRightGlyph{
    color:#f7f7f7;
    font-size: 14pt;
    float:right;
    margin-top: 10px;
    margin-right: 15px;
}
.google-maps {
    position: relative;
    padding-bottom: 30%; // This is the aspect ratio
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
.sectionForm{
    background-image: url("../content/fundoformulario.jpg");
    min-height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 20px;
}
.sectionFormTitulo{
    font-family: vijaya, helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    padding: 20px;
    font-size: 30pt;
}
.labelForm{
    font-family:  helvetica, Arial, sans-serif;
    color: #ffffff;
}

.associado1 {
    background-image: url("../content/equipesantostoledo.png");
    min-height: 450px;
    background-repeat: no-repeat;
    background-position: center;
}
.associado2 {
    background-image: url("../content/associado1.png");
    min-height: 450px;
    background-repeat: no-repeat;
    background-position: center;
}
.imgservicos{
    height: 36px ;
    float: left;
    margin-top: 5px;
}
.imgservicosw{
    width: 36px ;
    float: left;
    margin-top: 4px;
}
.tituloservicos{
    font-family: vijaya, helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #f9f9f9;
    padding: 20px;
    border: 5px;
    font-size: 28pt;
}
.labelservicos{
    font-family:  vijaya,helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    margin-left: 50px;
    margin-top: 14px;
    font-size: 18pt;

}
.shadow {
    box-shadow: 0px 10px 15px #888888;
}
.row{
margin-right: 0px;
}
.panelservicos{
    min-height: 250px;
}
.fundobranco{
    background-color: #ffffff;
}

.fundoazulcinza{
    background-color: #e6eeff;
}
.labelSobreTitulo{
    font-family:  vijaya,helvetica, Arial, sans-serif;
    color: #230d99;
    margin-n-top: 14px;
    font-size: 48pt;
}
.textoSobre{
    font-family:  helvetica, Arial, sans-serif;
    color: #999999;
    font-style: italic;
    font-size: 15pt;
}
.marginTopBottom{
    margin-top:40px;
    margin-bottom: 20px;
}
.paddings{
    padding-top:40px;
    padding-bottom:60px;
    min-height: 450px;
}

.labelAssociadoTitulo{
    font-family:  vijaya,helvetica, Arial, sans-serif;
    color: #140d3a;
    margin-top: 14px;
    font-size: 25pt;
}
.textoAssociado{
    font-family:  helvetica, Arial, sans-serif;
    color: #666666;
    font-style: italic;
    font-size: 15pt;
}

.carousel-indicators li
{
    border: 1px solid #003366;
}
.carousel-indicators .active
{
   background-color:  #003366;
}

.divFooter{
    background-color: #140d3a;
    width: 100%;
    bottom:0px;
    min-height:60px;
    padding:30px;
    color: #999999;
    font-family: helvetica, Arial, sans-serif;
}
.menuFooter li{
    display:inline-block;
    margin-left:15px;
}
.menuFooter li a{
    color: #999999;
}
.fundocinza{
    background-color: #e6e6e6;
}

.AlertLoadingTotal {
    -moz-opacity: .5;
    opacity: .60;
    filter: Alpha(Opacity=50);
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 20000000;
    background: #FFF url("../content/loader.gif") no-repeat center center;
}

/* Panels customizados */
.panel-1 {
    border-color: #ff8566;
}
.panel-1 > .panel-heading {
    color: #fff;
    background-color: #ff5c33;
    border-color: #ff8566;
}
.panel-1 > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ff5c33;
}
.panel-1 > .panel-heading .badge {
    color: #ff8566;
    background-color: #fff;
}
.panel-1 > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #ff5c33;
}
.panel-2 {
    border-color: #00cc00;
}
.panel-2 > .panel-heading {
    color: #fff;
    background-color: #009900;
    border-color: #00cc00;
}
.panel-2 > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #00cc00;
}
.panel-2 > .panel-heading .badge {
    color: #ff8566;
    background-color: #fff;
}
.panel-2 > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #00cc00;
}

.panel-3 {
    border-color: #094684;
}
.panel-3 > .panel-heading {
    color: #fff;
    background-color: #033568;
    border-color: #094684;
}
.panel-3 > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #094684;
}
.panel-3 > .panel-heading .badge {
    color: #094684;
    background-color: #fff;
}
.panel-3 > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #094684;
}


.panel-4 {
    border-color: #c91456;
}
.panel-4 > .panel-heading {
    color: #fff;
    background-color: #ad0c47;
    border-color: #c91456;
}
.panel-4 > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #c91456;
}
.panel-4 > .panel-heading .badge {
    color: #c91456;
    background-color: #fff;
}
.panel-4 > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #c91456;
}

.panel-5 {
    border-color: #09a8c4;
}
.panel-5 > .panel-heading {
    color: #fff;
    background-color: #0193ad;
    border-color: #09a8c4;
}
.panel-5 > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #09a8c4;
}
.panel-5 > .panel-heading .badge {
    color: #09a8c4;
    background-color: #fff;
}
.panel-5 > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #09a8c4;
}


.panel-6 {
    border-color: #b5af05;
}
.panel-6 > .panel-heading {
    color: #fff;
    background-color: #9b9603;
    border-color: #b5af05;
}
.panel-6 > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #b5af05;
}
.panel-6 > .panel-heading .badge {
    color: #b5af05;
    background-color: #fff;
}
.panel-6 > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #b5af05;
}
/***************************/